{% extends "base.html" %}

{% block content %}

<form class='Pin-form' enctype="multipart/form-data" action="" method="POST">
    <h1 class="Form-title">Register</h1>
    {% csrf_token %}
    

    {% for field in form  %}
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error}}
            {% endfor %}
            
        {% endif %}
            
        <label class="Pin-form--label" for="{{ field.name }}">{{ field.label}}</label>
        {{ field }}
    {% endfor %}
    <input type="submit" class="Pin-form--btn">
</form>

{% endblock content %}

