{% extends "base.html" %}

{% block content %}

<h1>Add Pin</h1>
<section class="Pin">
    <article class="Pin-container">
        <figure class="Pin-item"></figure>
            <img class="Pin-image" src="{{ pin.image.url }}" alt="">
            <figcaption class="Pin-user"> 
                {{ pin.user.username}}
            </figcaption>
        </figure>
    </article>
</section>

<form class='Pin-form' enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}

    {% for field in form  %}
        <label class="Pin-form--label" for="{{ field.name }}">{{ field.label}}</label>
        {{ field }}
    {% endfor %}
    <input type="submit" class="Pin-form--btn">

</form>

{% endblock content %}